/* --- Estilos Globais do Wrapper --- */
#wrapper {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif; /* Sugestão de fonte mais moderna */
}
// No arquivo src/app/app.scss
#page-content-wrapper {
  padding-top: 60px; // Espaço para a navbar mobile se necessário
  @media (min-width: 768px) {
    padding-top: 0;
  }
}

@media (max-width: 767.98px) {
  #page-content-wrapper {
    padding-bottom: 90px !important;
  }
}
/* --- Estilo Adicional para a Sidebar do PC --- */
@media (min-width: 768px) {
  .list-group-item.active-desktop {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-left: 4px solid #ffca28 !important;
  }
}
